.App {
  height: 100vh;
  background-image: url("../src/img/white-architecture-abstract-symmetry-interior-design-lighting-103464-wallhere.com.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  object-fit: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.fist-img {
  width: 100vw;
  max-height: 100vh;
}
.first-come {
  position: relative;
  .button-come {
    position: absolute;
    font-size: 24px;
    bottom: 70px;
    right: 130px;
  }
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background: #ccc;
  margin-bottom: 6px;
  font-size: 14px;
}

.stepper-item.active {
  font-weight: bold;
}
.stepper-item.active .step-counter {
  background-color: #0d6efd;
}

.stepper-item.completed .step-counter {
  background-color: #5bd041;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #0d6efd;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

input:focus-visible {
  outline: none !important;
}
input:focus {
  outline: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
